<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Manutenções</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <main class="container">
        <h1>
            Lista de Manutenções
        </h1>

        <form class="d-flex mb-3" th:action="@{/manutencao/procurar}" method="get">
            <input class="form-control me-2" type="search" name="titulo" placeholder="Buscar por título">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>

        <p th:if="${errorA}" class="text-danger" th:text="${errorA}"></p>

        <table class="table" th:unless="${#lists.isEmpty(manuts)}">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Criado em</th>
                    <th scope="col">Finalizado em</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="manut : ${manuts}">
                    <th scope="row" th:text="${manut.id}">---</th>
                    <td th:text="${manut.titulo}">---</td>
                    <td th:text="${manut.nome}">---</td>
                    <td th:text="${manut.descricao}">---</td>
                    <td th:text="${#temporals.format(manut.criadoEm)}">---</td>
                    <td th:text="${#temporals.format(manut.finalizadoEm) ?: '-'}">---</td>
                    <td>
                        <!-- <a href="" class="btn btn-sm btn-primary">Concluir</a> -->
                        <form class="d-inline" th:action="@{/manutencao/finalizar/{id}(id=${manut.id})}" method="post">
                            <button type="submit" class="btn btn-sm btn-primary"
                                th:classappend="${manut.finalizadoEm} ?'disabled':''">
                                Concluir
                            </button>
                        </form>

                        <!-- <a href="" class="btn btn-sm btn-secondary">Editar</a> -->
                        <a th:href="@{/manutencao/editar/{id}(id=${manut.id})}" class="btn btn-sm btn-secondary"
                            th:classappend="${manut.finalizadoEm} ?'disabled':''">Editar</a>

                        <!-- <a href="" class="btn btn-sm btn-danger">Excluir</a> -->
                        <a th:href="@{/manutencao/deletar/{id}(id=${manut.id})}"
                            class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <p th:if="${#lists.isEmpty(manuts)}">Nenhuma Tarefa Cadastrada</p>

        <a th:href="@{manutencao/criar}" class="btn btn-sm btn-primary">Nova Tarefa</a>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>